<!DOCTYPE html>
<html> 
    <head> 
        <title>GK Quiz</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="questions">
            <p id="timer">Time left: 30 seconds</p>
           <form method="POST" action="/gk_result">
             <p>1.Which is the longest river?</p>
             <input type="radio" name="P1" value=" Krishna River"> Krishna River<br>
             <input type="radio" name="P1" value=" Ganga River"> Ganga River<br>
             <input type="radio" name="P1" value=" Nile River "> Nile River <br>
             <input type="radio" name="P1" value=" Kaveri River"> Kaveri River<br>
            
             <p>1.Which planet is known as Red planet?</p>
             <input type="radio" name="P2" value=" Earth"> Earth<br>
             <input type="radio" name="P2" value=" Venus"> Venus<br>
             <input type="radio" name="P2" value=" Saturn "> Saturn <br>
             <input type="radio" name="P2" value=" Mars"> Mars<br>
             
            <button onclick="location.href='result.html'">Submit</button>
           </form>
        </div>
       <script>
        let timeLeft = 30; // seconds
        const timerDisplay = document.getElementById("timer");
        const form = document.querySelector("form");

        const countdown = setInterval(() => {
            timeLeft--;
            timerDisplay.textContent = "Time left: " + timeLeft + " seconds";

            if (timeLeft <= 0) {
                clearInterval(countdown);
                form.submit(); // auto submit form
            }
        }, 1000);
    </script>
  </body>
</html>