<!DOCTYPE html>
<html>
<head>
  <title>Quiz Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Quiz Game!</h1>
    <p>Test your knowledge on various topics.</p><br>
 
   <div class="buttons">
   <button onclick="location.href='python_quiz.html'">Python Quiz</button><br>
   
   <button onclick="location.href='gk_quiz.html'">GK Quiz</button><br>
   </div>
  </div>
</body>
</html>
